<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Make your Google Fonts render faster · PerfPerfPerf</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <style>
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Ubuntu, 'Helvetica Neue', sans-serif;
      background: #fffae0;
      border-top: 10px solid #ffdb01;
    }

    h1 {
      font-family: Montserrat, sans-serif;
      margin-top: 0;
      font-weight: 900;
      line-height: 1.2;
    }

    h2 {
      font-family: 'Montserrat', Georgia, serif;
      margin-top: 32px;
      font-weight: 900;
      margin-bottom: 0;
    }

    a {
      color: #06c;
      text-decoration: none;
      border-bottom: 1px solid;
      border-color: rgba(0, 102, 204, 0.25);
      transition: color 0.25s ease-out, border-color 0.25s ease-out;
    }

    a:hover,
    a:focus,
    a:active {
      color: #d04000;
      border-color: rgba(208, 64, 0, 0.25);
      transition: none;
    }

    code {
      font-family: 'Fira Code', 'Fira Mono', monospace;
      font-size: 0.9em;
    }

    button {
      display: inline-block;
      color: white;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 2px;
      padding: 6px 18px;
      background: black;
      transition: transform 0.2s ease-out 0s;
      margin-bottom: 6px;
      cursor: pointer;
    }

    button:hover,
    button:focus,
    button:active {
      background: #333;
    }

    input,
    textarea {
      border: thin solid black;
      border-radius: 2px;
      padding: 4px;
    }

    p {
      margin: 1em 0;
    }

    ol {
      padding: 0;
      list-style: none;
    }

    ol li {
      margin: 1em 0;
    }

    img {
      max-width: 100%;
    }

    video {
      max-width: 100%;
    }

    footer {
      margin-top: 48px;
      font-size: 13px;
    }

    blockquote {
      border-left: 5px solid black;
      padding-left: 24px;
      margin: 0;
    }

    mark {
      background: #fff4b8;
    }

    .deprecation-message {
      padding: 24px 40px;
      margin: 0 -48px 48px;
      background: white;
      border: 8px solid black;
    }

    .tool-wrapper {
      padding: 32px 48px;
      margin: 0 -48px 48px;
      background: white;
    }

    .tool__source-code {
      font-family: 'Fira Code', 'Fira Mono', monospace;
      width: 100%;
      margin-top: 0.5em;
    }

    .tool__result-block {
      margin-top: 0.5em;
    }

    .tool__result {
      font-family: 'Fira Code', 'Fira Mono', monospace;
      width: 100%;
      min-height: 200px;
    }

    .tool__github-button-wrapper {
      vertical-align: -9px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 24px 18px;
    }

    .nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: -6px -12px;
      margin-bottom: 36px;
    }

    .nav>* {
      margin: 6px 12px;
    }

    .nav__logo-link {
      display: block;
      border: none;
    }

    .nav__logo {
      display: block;
      width: 50px;
      height: 50px;
    }

    .nav__links>* {
      margin: 3px 9px;
    }

    .nav__links {
      display: flex;
      margin: -3px -9px;
      flex-wrap: wrap;
    }

    .emoji {
      font-weight: 400;
      font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
    }

    .image_block {
      display: block;
    }

    .header_inline {
      display: inline;
      margin: 0;
      font-size: inherit;
      font-weight: bold;
    }

    .about {
      padding: 32px 48px;
      margin: 32px -48px 48px;
      background: white;
    }

    .about__header {
      margin-top: 0;
    }

    .about__blockquote {
      margin-bottom: 18px;
    }
  </style>
  <!-- Dogfooding: use the same snippet for the current page -->
  {{{compiledSnippet}}}

  <!-- Search Engine -->
  <meta name="description" content="A tiny script that helps your text to appear a couple seconds earlier">
  <meta name="image" content="https://googlefonts.3perf.com/social.png">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Make your Google Fonts render faster">
  <meta itemprop="description" content="A tiny script that helps your text to appear a couple seconds earlier">
  <meta itemprop="image" content="https://googlefonts.3perf.com/social.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Make your Google Fonts render faster">
  <meta name="twitter:description" content="A tiny script that helps your text to appear a couple seconds earlier">
  <meta name="twitter:site" content="@3perfcom">
  <meta name="twitter:creator" content="@iamakulov">
  <meta name="twitter:image:src" content="https://googlefonts.3perf.com/social.png">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="Make your Google Fonts render faster">
  <meta property="og:description" content="A tiny script that helps your text to appear a couple seconds earlier">
  <meta property="og:image" content="https://googlefonts.3perf.com/social.png">
  <meta property="og:url" content="https://googlefonts.3perf.com/">
  <meta property="fb:admins" content="100002052594007">
  <meta property="og:type" content="website">
</head>

<body>
  <div class="container">
    <nav class="nav">
      <a href="https://3perf.com" class="nav__logo-link">
        <img src="/3perf-logo-black.svg" alt="PerfPerfPerf logo" class="nav__logo" />
      </a>
      <div class="nav__links-wrapper">
        <div class="nav__links">
          <a href="https://3perf.com/">Performance consulting</a>
          <a href="https://3perf.com/#clients">Cases</a>
          <a href="https://3perf.com/#materials">Articles</a>
          <a href="https://3perf.com/#about">About us</a>
        </div>
      </div>
    </nav>

    <div class="deprecation-message">
      <h1>Deprecated</h1>
      <p>We created this tool in Feb 2019 to help developers load Google Fonts as if it supported
        <code>font-display</code>. But very soon, in May 2019, Google
        Fonts <a href="https://github.com/google/fonts/issues/358#issuecomment-492324042">rolled
          out built-in <code>font-display</code> support</a> – which is great!</p>
      <p>So today, while this tool still works just file, there’s no much sense to use it over the native
        feature.</p>
      <p>To use <code>font-display</code> in Google Fonts natively, just append <code>&amp;display=swap</code> (or
        another value) to the end of your Google Fonts url: <a style="word-break: break-all"
          href="https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat&display=swap"><code>https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat<mark>&amp;display=swap</mark></code></a>
      </p>
    </div>

    <div class="tool-wrapper">
      <h1>Make your Google Fonts render faster&nbsp;<span class="emoji">🚀</span></h1>

      <ol class="tool">
        <li>
          <span class="emoji">1️⃣</span> Choose the fonts you need
          <a href="https://fonts.google.com">on&nbsp;Google&nbsp;Fonts</a>.
        </li>
        <li>
          <span class="emoji">2️⃣</span> Copy a link to the Google Fonts stylesheet – or just the code they
          provide – and paste it below:
          <input class="tool__source-code" id="js-source-code"
            value="https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat" />
        </li>
        <li>
          <span class="emoji">3️⃣</span> Copy the resulting code and insert it into your
          <code>&lt;head></code> tag – instead of the Google Fonts snippet:
          <div class="tool__result-block" id="js-result-block">
            <button id="js-copy-button">Copy</button><br />
            <textarea class="tool__result" id="js-result" readonly></textarea>
          </div>
        </li>
        <li><span class="emoji">4️⃣</span> Subscribe to the GitHub repository to learn about important updates to the
          script:
          <span class="tool__github-button-wrapper">
            <a class="github-button" href="https://github.com/iamakulov/googlefonts-font-display-helper"
              data-icon="octicon-eye" data-size="large"
              aria-label="Watch iamakulov/googlefonts-font-display-helper on GitHub">Watch</a>
          </span>
        </li>
      </ol>
    </div>

    <h2 id="description">What is this?&nbsp;<span class="emoji">🧐</span></h2>
    <p>
      When you use a custom font (like a font from Google Fonts),
      most
      modern browsers
      <a href="https://developers.google.com/web/updates/2016/02/font-display#differences_in_font_rendering_today">don’t
        render the text immediately</a>. Instead, they keep the text
      hidden until the font is downloaded (or until 3 seconds pass). If a user
      opens a page with a custom font from a slow connection (e.g., from mobile),
      it will look like this:
    </p>
    <p>
      <video autoplay muted controls loop>
        <source src="/loading-video.mp4" type="video/mp4" />
        <source src="/loading-video.webm" type="video/webm" />
        Your browser doesn't support HTML5 video. Here is a
        <a href="/loading-video.mp4">link to the video</a> instead.
      </video>
    </p>
    <p>
      This hurts user experience –
      <a href="https://3perf.com/talks/web-perf-101/#perf-importance-header">and affects business metrics</a>.
    </p>
    <p>This tools wraps Google Fonts and makes the text render immediately (with a fallback font). The custom font is
      downloaded asynchronously and applied later:</p>
    <p>
      <a
        href="https://www.webpagetest.org/video/compare.php?tests=190214_5S_353d1e658663bfe996ceaee8093aa578%2C190214_VQ_e6c965dc8137d95b37234e93840f13ce&thumbSize=200&ival=1000&end=visual">
        <img class="image_block" src="/comparison.png" />
      </a>
    </p>

    <h2 id="how-it-works">How does this work?&nbsp;<span class="emoji">⚙</span></h2>
    <p>
      <h3 class="header_inline">It uses <code>font-display</code> under the hood.</h3> In 2017-2018, most browsers
      released
      support for <a
        href="https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display"><code>font-display</code></a>,
      a CSS feature that helps to configure how custom fonts are loaded. However, Google Fonts
      <a href="https://github.com/google/fonts/issues/358">don’t support <code>font-display</code> natively</a>! This
      tool works around that and adds the <code>font-display: swap</code> declaration to make the browser render the
      text immediately.
    </p>
    <p>
      In more details, the generated script:
    </p>
    <ul>
      <li>downloads the Google Fonts stylesheet asynchronously for each visitor,</li>
      <li>patches it to insert the <code>font-display: swap</code> declaration,</li>
      <li>and inserts that stylesheet into the document.</li>
    </ul>
    <p><a href="https://github.com/iamakulov/googlefonts-font-display-helper/blob/master/src/script.js">See the script
        source</a></p>
    <p>
      <h3 class="header_inline">It works fine in older browsers.</h3>
      The snippet uses
      <a href="https://github.com/bramstein/fontfaceobserver/issues/62#issuecomment-398399886">the
        <code>window.FontFace</code> check</a>
      to detect if a browser supports <code>font-display</code>. If the
      browser doesn’t support <code>font-display</code>, or if
      <code>window.FontFace</code> is not available, the script falls back to
      inserting a regular <code>&lt;link> tag</code>.
    </p>
    <p>
      <h3 class="header_inline">It cares to avoid unnecessary font jumps.</h3> If the Google Fonts
      stylesheet is already cached, the script will insert it into the
      document synchronously – so that the browser can apply custom fonts
      immediately.
    </p>

    <h2 id="performance-effect">How does this affect performance?&nbsp;<span class="emoji">🏎</span></h2>
    <p>
      We built the snippet to be as lightweight as possible. To achieve a great performance, this tool:
    </p>
    <ul>
      <li>keeps the whole snippet tiny – right now, it’s just 550 bytes minified and gzipped,</li>
      <li>
        generates a <code>&lt;link rel="preload"></code> tag for the Google Fonts stylesheet
        – so the browser starts downloading it even before the snippet runs,
      </li>
      <li>
        generates a <code>&lt;link rel="preconnect"></code> tag
        for the domain that serves font files (and <code>&lt;link rel="dns-prefetch"></code>
        for older browsers) – so the browser can fetch font files sooner,
      </li>
      <li>
        and provides an inline script instead of an external one – to avoid
        making an extra HTTP request.
      </li>
    </ul>

    <h2 id="issues">Where do I report issues?&nbsp;<span class="emoji">🙋‍</span></h2>
    <p>Do that in <a href="https://github.com/iamakulov/googlefonts-font-display-helper">the GitHub
        repo</a>.</p>

    <div class="about">
      <h2 id="about-3perf" class="about__header">Who are you?&nbsp;<span class="emoji">⚡</span></h2>
      <p>We are <a href="https://3perf.com">PerfPerfPerf</a>. We help companies to make web apps faster and earn
        more.</p>
      <p>We worked with Google and <a href="https://3perf.com/#clients">various e-commerce and media companies</a>.
        Here’s a feedback from one of them:</p>
      <blockquote class="about__blockquote">
        <p>Ivan <em>[the PerfPerfPerf founder]</em> gave a ton of extremely useful, actionable feedback that
          <mark>directly improved our First Meaningful Paint, Time to Interactive, Speed Index, First CPU Idle</mark>
          metrics significantly. Also, he helped with some bundle size optimization too.</p>

        <p>Interaction with Ivan is dense in terms of knowledge transfer, and I guarantee you that you will learn a lot
          of new things. On top of all these, he’s a super smooth person to work with. All in all, <mark>I cannot
            recommend Ivan enough</mark>!</p>
        <p><small>— <a href="https://twitter.com/cihatimamoglu">Cihat Imamoglu</a>, Senior Software Engineer @ Fat
            Llama</small></p>
      </blockquote>
      <p>Want to improve conversion, or have issues with performance? <a href="mailto:perf@3perf.com">Chat
          with us</a>.</p>
    </div>
    <footer>
      With 🖤, <a href="https://3perf.com">PerfPerfPerf</a><br />© 2019. License:
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
      for the content,
      <a href="https://opensource.org/licenses/MIT">MIT</a> for the generated
      code
    </footer>

    <script>
      const getSnippet = fontFamily => {
        const snippet = '{{{snippetSource}}}';
        const uniqueId = Math.floor(Math.random() * 1e6).toString(16);

        return snippet
          .replace(/%FONT_STYLESHEET%/g, fontFamily)
          .replace(/%FONT_DISPLAY%/g, 'swap')
          .replace(/%UNIQUE_ID%/g, uniqueId);
      };

      const setResultTextarea = value => {
        document.querySelector('#js-result').value = value;
      };

      const updateResult = () => {
        const sourceCode = document.querySelector('#js-source-code').value;
        const googleFontsUrlMatches = sourceCode.match(
          /https:\/\/fonts.googleapis.com\/css\?[a-zA-Z0-9=+|&:,;-]+/
        );
        if (!googleFontsUrlMatches) {
          setResultTextarea('');
          return;
        }

        const googleFontsUrl = googleFontsUrlMatches[0];
        setResultTextarea(getSnippet(googleFontsUrl));
      };

      updateResult();
      document
        .querySelector('#js-source-code')
        .addEventListener('input', updateResult);

      document.querySelector('#js-source-code').addEventListener('focus', () => {
        document.querySelector('#js-source-code').select();
      });

      document.querySelector('#js-result').addEventListener('focus', () => {
        document.querySelector('#js-result').select();
      });

      document.querySelector('#js-copy-button').addEventListener('click', () => {
        document.querySelector('#js-result').select();
        document.execCommand('copy');
        document.querySelector('#js-copy-button').textContent = 'Copied';
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38017504-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-38017504-7', {
        'linker': {
          'domains': ['3perf.com', 'googlefonts.3perf.com']
        }
      });
    </script>
    <!-- GitHub buttons -->
    <script async src="https://buttons.github.io/buttons.js"></script>
  </div>
</body>

</html>